BACKEND_PORT=5555
ADMIN_PORT=3336

# bunny
BUNNY_STORAGE_API_KEY=
BUNNY_STORAGE_CDN_ZONE=
BUNNY_STORAGE_CDN_PRIVATE_KEY=
BUNNY_STREAM_API_KEY=
BUNNY_STREAM_LIBRARY_ID=
BUNNY_STREAM_CDN_ZONE=
BUNNY_STREAM_CDN_PRIVATE_KEY=
