.git/**
.idea/**
**/.next/**
**/.turbo/**
.zed/**
**/dist/**
**/node_modules/**
pnpm-lock.yaml
packages/proto/pkg/**/*.proto
packages/proto/src/**/*.ts
*/packages/proto/src/**/*.ts
backend/packages/*/src/generated/*.ts
