version: '3'

services:
  mongo1:
    image: mongo:latest
    restart: unless-stopped
    ports:
      - '27017:27017'
    networks:
      - private_network
      - public_network
    volumes:
      - mongo_data_1:/data/db
    entrypoint: [ '/usr/bin/mongod', '--replSet', 'base', '--bind_ip_all', '--port', '27017' ]

  mongo2:
    image: mongo:latest
    restart: unless-stopped
    ports:
      - '27018:27018'
    networks:
      - private_network
      - public_network
    volumes:
      - mongo_data_2:/data/db
    entrypoint: [ '/usr/bin/mongod', '--replSet', 'base', '--bind_ip_all', '--port', '27018' ]

  mongo3:
    image: mongo:latest
    restart: unless-stopped
    ports:
      - '27019:27019'
    networks:
      - private_network
      - public_network
    volumes:
      - mongo_data_3:/data/db
    entrypoint: [ '/usr/bin/mongod', '--replSet', 'base', '--bind_ip_all', '--port', '27019' ]

  mongo-initializer:
    image: mongo:latest
    depends_on:
      - mongo1
      - mongo2
      - mongo3
    networks:
      - private_network
    volumes:
      - ./scripts:/scripts
    command:
      - /bin/sh
      - -c
      - |
        sleep 2 &&
        chmod +x /scripts/rs_initializer.sh &&
        /scripts/rs_initializer.sh

networks:
  private_network:
  public_network:
    driver: bridge

volumes:
  mongo_data_1:
  mongo_data_2:
  mongo_data_3:
