name: base

services:
  mongo:
    image: mongo:latest
    restart: unless-stopped
    networks:
      - private_network
    ports:
      - '27017:27017'
    volumes:
      - mongo_data:/data/db
    profiles:
      - local
      - all

  backend.main:
    build:
      context: .
      dockerfile: ./backend/apps/main/Dockerfile
    restart: unless-stopped
    ports:
      - '8000:8000'
    environment:
      NODE_ENV: production
      DATABASE_URL: mongodb://mongo:27017/main
      MAIN_GRPC_URL: 0.0.0.0:8000
    networks:
      - private_network
    depends_on:
      - mongo
    profiles:
      - all

  backend.api-gateway:
    build:
      context: .
      dockerfile: ./backend/apps/api-gateway/Dockerfile
    restart: unless-stopped
    ports:
      - '10000:10000'
    environment:
      PORT: 10000
      NODE_ENV: production
      MAIN_GRPC_URL: backend.main:8000
    networks:
      - private_network
      - public_network
    depends_on:
      - backend.main
    profiles:
      - all

  admin.main:
    build:
      args:
        PORT: 3336
        NODE_ENV: production
        MONGODB_URL: mongodb://mongo:27017/main
        PAYLOAD_SECRET: 12345
      context: .
      dockerfile: ./admin/apps/main/Dockerfile
    restart: unless-stopped
    ports:
      - '${ADMIN_MAIN_PORT:-3336}:3336'
    environment:
      PORT: 3336
      NODE_ENV: production
      DATABASE_URL: mongodb://mongo:27017/main
      PAYLOAD_SECRET: 12345
    networks:
      - private_network
      - public_network
    depends_on:
      - mongo
    profiles:
      - all

#  frontend:
#    build:
#      context: .
#      dockerfile: ./apps/frontend/Dockerfile
#    restart: unless-stopped
#    ports:
#      - '${PORT:-3000}:3000'
#    environment:
#      NEXT_PUBLIC_BACKEND_URL: http://backend.api-gateway:10000
#    networks:
#      - public_network
#    depends_on:
#      - backend.api-gateway

networks:
  private_network:
  public_network:
    driver: bridge

volumes:
  mongo_data:
