PORT=8001
NODE_ENV=development

# Database
DATABASE_URL=postgresql://localhost:5432

# gRPC
PROTOC_PATH=protoc
AUTH_GRPC_URL=0.0.0.0:8001

# nats
NATS_URL=nats://localhost:4222

# JWT
ACCESS_JWT_SECRET=
REFRESH_JWT_SECRET=

# admin
ADMIN_EMAIL=admin@gmail.com
ADMIN_PASSWORD=string123

# temp code
TEMP_TOKEN_EXPIRES_IN_MINUTES=1
