PORT=8001
NODE_ENV=development

# Database
DATABASE_URL=postgresql://localhost:5432

# gRPC
PROTOC_PATH=protoc
STORAGE_GRPC_URL=0.0.0.0:8002

# nats
NATS_URL=nats://localhost:4222

# bunny
BUNNY_STORAGE_API_KEY=
BUNNY_STORAGE_CDN_ZONE=
BUNNY_STORAGE_CDN_PRIVATE_KEY=
BUNNY_STORAGE_CDN_EXPIRES_IN_MINUTES=10
BUNNY_STREAM_API_KEY=
BUNNY_STREAM_LIBRARY_ID=
BUNNY_STREAM_CDN_ZONE=
BUNNY_STREAM_CDN_PRIVATE_KEY=
BUNNY_STREAM_CDN_EXPIRES_IN_MINUTES=60
