PORT=8001
NODE_ENV=development

# Database
DATABASE_URL=mongodb://localhost:27017

# gRPC
PROTOC_PATH=protoc
STORAGE_GRPC_URL=0.0.0.0:8002

# bunny
BUNNY_STORAGE_API_KEY=
BUNNY_STORAGE_URL=
BUNNY_STORAGE_CDN_ZONE=
BUNNY_STORAGE_CDN_PRIVATE_KEY=
BUNNY_STORAGE_CDN_EXPIRES_IN_MINUTES=10
BUNNY_STREAM_URL=
BUNNY_STREAM_API_KEY=
BUNNY_STREAM_LIBRARY_ID=
BUNNY_STREAM_CDN_ZONE=
BUNNY_STREAM_CDN_PRIVATE_KEY=
BUNNY_STREAM_CDN_EXPIRES_IN_MINUTES=60
